---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon'
import { Notification } from 'accessible-astro-components'
import { Image } from "astro:assets"
import logo from "../../../assets/img/logo.svg"

const pokemon = {
  name: "Pikachu",
  image: "/pokemon/pikachu.png",
  type: "Electric",
  abilities: ["Static", "Lightning Rod"]
}

// Define any data or functions here
const title = "Pikachu";
const briefDescription = "Pikachu, a Electric-type Pokémon, is known for its cute and cuddly appearance combined with its powerful electric abilities. Often seen as the face of Pokémon, Pikachu is a popular choice among trainers.";
const longDescription = "Pikachu, the Electric Mouse Pokémon, is one of the most recognizable and beloved creatures in the Pokémon world. Famous for its bright yellow fur, long ears with black tips, and a tail shaped like a lightning bolt, Pikachu has become a cultural icon. It stores electricity in its cheeks, releasing it in powerful shocks. Loyal, brave, and friendly, Pikachu has a strong bond with its trainer and is capable of defeating even the strongest opponents with its electrifying moves.";
---

<DefaultLayout title="Media">
    <section>
        <h1>{title}</h1>
    </section>
    
    <section>
      <Image src="/pokemon/pikachu.png" width="512" height="512" alt="Pikachu" />
      <!-- <Image src={logo} alt="Your Logo" width="47" height="37" /> -->
    </section>
    <section>
        <Notification type="info">
            <Icon pack="ion" name="information-circle-outline" />
            <p>
                {briefDescription}
            </p>
        </Notification>
    </section>
    <section>
      <p>{longDescription}</p>
    </section>

    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white dark:bg-gray-800">
        <img class="w-full" src={pokemon.image} alt={pokemon.name} />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-gray-800 dark:text-white">{pokemon.name}</div>
          <p class="text-gray-700 dark:text-gray-400 text-base">
            Type: {pokemon.type}
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          {pokemon.abilities.map((ability, index) => (
            <span key={index} className="inline-block bg-gray-200 dark:bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-200 mr-2 mb-2">
              {ability}
            </span>
          ))}
        </div>
      </div>    
</DefaultLayout>

